.home-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  .left-side {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    background: #cdeaff;
    width: 250px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    justify-content: space-between;
    padding: 20px 20px;
    .upper-sec {
      .user-info-wrapper {
        display: flex;
        background-color: white;
        flex-direction: row;
        align-items: center;
        padding: 14px 16px;
        margin-bottom: 24px;
        border-radius: 10px;
        img {
          width: 40px;
          margin-right: 16px;
          border-radius: 10px;
        }
        .user-name {
          font-size: 17px;
          font-weight: 600;
        }
      }
      .search-wrapper {
        display: flex;
        background-color: white;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 14px 16px;
        border-radius: 10px;
        img {
          width: 24px;
          margin-right: 16px;
        }
        input {
          all: unset;
          width: 100%;
          box-shadow: none !important;
        }
      }
    }
    .middle-sec {
      display: flex;
      flex-direction: column;
      row-gap: 16px;
      overflow-y: scroll;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }

      .side-button,
      .add-folder {
        color: black;
        display: flex;
        width: 100%;
        align-items: center;
        padding: 14px 16px;
        border-radius: 10px;
        cursor: pointer;
        &:hover {
          background-color: rgba(255, 255, 255, 0.7);
        }
        img {
          width: 24px;
          margin-right: 16px;
        }
      }
      .add-folder-input {
        display: flex;
        background-color: white;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 14px 16px;
        border-radius: 10px;
        display: none;
        img.folder-icon {
          width: 24px;
          margin-right: 16px;
        }
        img.plus-icon {
          margin-left: 10px;
          width: 18px;
          cursor: pointer;
        }
        input {
          all: unset;
          width: 100%;
          box-shadow: none !important;
        }
      }
      .add-folder-input.show {
        display: flex;
      }
    }
    .bottom-sec {
      display: flex;
      flex-direction: column;
      row-gap: 16px;
      .bin {
        color: black;
        display: flex;
        width: 100%;
        align-items: center;
        padding: 14px 16px;
        border-radius: 10px;
        &:hover {
          background-color: rgba(255, 255, 255, 0.7);
        }
        img {
          width: 24px;
          margin-right: 16px;
        }
      }
      .logout {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 14px 16px;
        border-radius: 10px;
        cursor: pointer;
        &:hover {
          background-color: rgba(255, 255, 255, 0.7);
        }
        p {
          width: 100%;
        }
        img.logout-icon {
          width: 24px;
          margin-right: 16px;
        }
        img.check-icon {
          margin-left: 10px;
          width: 20px;
          cursor: pointer;
          display: none;
        }
      }
      .active-logout {
        cursor: default;
        background-color: white;
        outline: 2px solid #ff3333;
        img.check-icon {
          display: block;
        }
      }
    }
    .active {
      background-color: white;
      &:hover {
        background-color: white !important;
      }
    }
  }
  .middle-side {
    width: 280px;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    .folder-name {
      p {
        align-items: center;
        justify-content: center;
        display: flex;
        height: 68px;
        font-weight: 600;
        font-size: 25px;
        text-align: center;
      }
    }
    .add-note {
      display: flex;
      background-color: #f6f6f6;
      flex-direction: row;
      align-items: center;
      padding: 14px 20px;
      border-radius: 10px;
      color: black;
      &:hover {
        background-color: #e7f5ff;
      }
      img {
        width: 24px;
        margin-right: 20px;
      }
    }

    .notes-list-wrapper {
      display: flex;
      flex-direction: column;
      row-gap: 16px;
      overflow-y: scroll;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }
    }
    .note-wrapper {
      background-color: #f6f6f6;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      padding: 14px 16px;
      row-gap: 6px;
      &:hover {
        background-color: #e7f5ff;
      }
      .title {
        font-size: 18px;
        font-weight: 600;
        color: black;
      }
      .description {
        font-size: 15px;
        color: rgba(0, 0, 0, 0.8);
      }
      .note-bottom-wrapper {
        display: flex;
        color: rgba(0, 0, 0, 0.7);
        font-size: 13px;
        column-gap: 6px;
        .time,
        .category {
          letter-spacing: 0.7px;
        }
      }
    }
    .active,
    .active:hover {
      background-color: #cdeaff;
    }
  }
  .right-side {
    padding: 20px 40px;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    flex: 1;
    display: flex;
    flex-direction: column;
    .upper-sec {
      height: 68px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 24px;
      .title-wrapper {
        input {
          all: unset;
          box-shadow: none !important;
          font-weight: 600;
          font-size: 35px;
          &::placeholder {
            color: black;
            opacity: 0.8;
          }
        }
        .title {
          font-weight: 600;
          font-size: 35px;
          color: black;
        }
        .untitle {
          font-weight: 600;
          font-size: 35px;
          opacity: 0.5;
          cursor: default;
        }
      }
      .button-menu-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 15px;
        .button-wrapper {
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          &:hover {
            background-color: rgb(226, 226, 226);
          }
          .preview {
            width: 24px;
          }
          .save {
            width: 19px;
          }
        }
      }
    }
    .note-info {
      display: flex;
      flex-direction: column;
      row-gap: 4px;
      margin-bottom: 24px;
      div {
        display: flex;
        flex-direction: row;
        .info-title {
          width: 120px;
          opacity: 0.8;
        }
        p {
          font-size: 14px;
        }
        .info {
          opacity: 0.9;
        }
      }
      .category-wrapper {
        margin-bottom: 5px;
        p {
          font-size: 16px;
        }
        .info {
          font-weight: 500;
        }
        .uncategorized {
          opacity: 0.5;
        }
        input {
          all: unset;
          box-shadow: none !important;
          &::placeholder {
            color: black;
            opacity: 0.8;
          }
        }
      }
    }
    hr {
      border: 0;
      height: 0;
      border-top: 1px solid #dcdcdc;
      margin-bottom: 24px;
    }
  }
  .editor-wrapper {
    overflow-y: scroll;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
